.header{
    @extend %bgImage;
    background-image: url(../image/jpg/image3.jpg);
    height: 100%;
    position: relative;
    z-index: 0;
} 

.header::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    background-color: #21212157;
    z-index: -1;
} 