.navigation{
    padding: 0;
    padding: 30px;
    padding-top: 50px;
    .logo{

        img{
            width: 100%;    
            height: 68px;
            object-fit: contain;
        }
    }
    .water-mark{
        display: none;
    }
    ul{

        li{

            a{
                color: $fontColor;
                font-size: 0.85rem;
                font-weight: 400;
            }
        }
        .active{
            color: $linkColor;

        }
    }

    .drop-nav{
        background-color: $listColor;
        li{
            padding-bottom: 10px;    
            a{
                color: $btnbgColor;
                font-size: 0.85rem;
                transition: all 0.4s linear;
            }
        }
        li:hover a{
            color: $linkColor;
        }



    }

 
}
/*==========navigation-media==========*/
@media only screen and (max-width:768px){ 
html,body{
    font-size: 16px;
}
    .navigation{
        position: relative;
        .logo{
            display: none;
        }

        ul{
            padding: 50px;
            text-align: center;
            width: 100%;
            height: 100%;
            background-color: #21212163;
            position: fixed;
            li{ 
                a{
                    font-size: 1.8rem;
                   

                }
                .drop-nav{
                    background: transparent;
                    li{

                        a{
                            font-size: 1rem;
                            color: $fontColor; 
                        }    

                    }
                }


            }

        }
        .water-mark{
            display: block;
            color: $contentColor;
            font-size: 10rem;
            font-weight: 600;
            z-index: -5;
            position: absolute;
            left: 20%;
            transform: translateX(-20%);
            text-align: center;
            opacity: 0.8;
        }
    }


}