.trigger-btn{   
    position: relative;
        img{
            width: 100%;
            height: 950px;
            object-fit: cover;
        }
 
    .large-btn{
        width: 400px;
        height: 400px;
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translate(-50%);
        display: grid;
        place-content: center;  
        border-radius: 50%;
        z-index: 0; 
        cursor: pointer;
        .icon{
            z-index: 5;
            border: 2px solid $contentColor;
            width: 300px;       
            height: 300px;
            display: grid;
            border-radius: 50%;
            place-content: center;
            .play{
                font-size: 1.5rem;
                color: #fff;
            }
        }
    }
    .large-btn::before{
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.041);
        backdrop-filter: blur(5px);
        position: absolute;
        left: 0;
        border-radius: 50%;
        top: 0;
        z-index: -1;
    }

}
.awesome-partner{
    padding: 50px 0;
    background-color: $bgwhite-2;
    .reward{
        padding: 30px;

        h2{
            color: $mainColor;
            padding: 30px 0 20px 0;
        }
        .year{
            font-size: 10rem;
            color: $mainColor;
        }
        .exprience{
            color: $mainColor;        
            text-transform: uppercase;
        }

    }

    .milestone{ 
        position: relative;
        z-index: 0;
        padding: 30px 50px;
        h2{
            padding: 30px 0 20px 0;
        }
        .target{
            padding: 20px 0;

            span{
                font-size: 2.5rem;    
                font-weight: 600;
            }

        }    
        .team{
            padding: 20px 0;
            h4{
                text-transform: capitalize;
                color: $mainColor;
                font-weight: 600;

            }

        }


    }
/*
    .milestone::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-color: $bgwhite;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
*/

}
