
/*
    --e-global-color-primary: #D16527;
    --e-global-color-secondary: #121212;
    --e-global-color-text: #161616;
    --e-global-color-accent: #242424;
    --e-global-color-11fee7f: #606060;
    --e-global-color-7ff2b2d: #C6C6C6;
    --e-global-color-0d3036c: #EDEDED;
    --e-global-color-024918e: #ECCD39
*/
/*=========Color-Variable========*/
$mainbgColor: #181818;
$linkColor: #b19777;
$bgColor: #212121;
$Color: #0a0909;
$mainColor: #8C8C8C;
$other-textColor: #5A5A5A;
$contentColor: #D1CCBE;
$headingColor: #000;
$fontColor: #fff;
$textColor: #929292;
$titleColor: #D0CCC8;
$listColor: #B2B2B2;
$fadetextColor: #9A9A9A;
$btnColor: #86735D;
$cirlceColor: #FEFEFE;
$btnbgColor: #E9EDED;
/*=========Font-Variable========*/
$mainFont: 'Poppins', sans-serif;
$textFont: 'Courier Prime', monospace;
%mainBtn{
    padding: 15px 60px;
    text-decoration: none;
    display: inline-block;
    font-size: 0.75rem;
    text-transform: uppercase;
}
%flexCenter{
    justify-content: center;
    align-items: center;
}
%bgImage{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,li{
    list-style-type: none;

}
html,body{
    font-size: 24px;
    width: 100%;
    height: 100%;
    font-family: $mainFont;
    background-color: $bgColor;
}

.main-head{ 
    font-size: 2.5rem;
    font-weight: 700;
    font-family: $mainFont;
    text-transform: uppercase;
}
.para{
    font-size: 0.85rem;     
    font-weight: 400;
    color: $textColor;
    line-height: 1.5;
}
.secondary-head{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: $mainFont;
}
.flex-content{
    display: flex;
    flex-wrap: wrap;

}
.max-width{
    max-width: 1366px;

}
.light{
    font-weight: 400;
}
.title{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    color: $fontColor;
    padding-bottom: 5px;
    border-bottom: 2px solid $fontColor;

}
.tag{
    text-transform: uppercase;
    color: $fontColor;
    font-size: 0.75rem;
}

    /*--------nav-section-----------*/
@import "nav"; 

    /*--------header-section-----------*/
@import "header";

    /*--------about-section-----------*/
@import "about";
    /*--------desing-section-----------*/

    /*--------work-section-----------*/
@import "work";
    /*--------partner-section-----------*/
@import "partner";
    /*--------blog-section-----------*/
@import "article";
    /*--------evnets-section-----------*/
@import "event";
    /*--------project-section-----------*/
@import "project";
    /*--------benefits-section-----------*/

    /*--------brand-section-----------*/
@import "brand";
    /*--------contact-section-----------*/
@import "contact";
    /*--------footer-section-----------*/
@import "footer";