/*
    --e-global-color-primary: #D16527;
    --e-global-color-secondary: #121212;
    --e-global-color-text: #161616;
    --e-global-color-accent: #242424;
    --e-global-color-11fee7f: #606060;
    --e-global-color-7ff2b2d: #C6C6C6;
    --e-global-color-0d3036c: #EDEDED;
    --e-global-color-024918e: #ECCD39
*/
/*=========Color-Variable========*/
/*=========Font-Variable========*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 24px;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.main-head {
  font-size: 2.8rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.para {
  font-size: 0.75rem;
  font-weight: 400;
  color: #929292;
}

.secondary-head {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.flex-content {
  display: flex;
  flex-wrap: wrap;
}

.max-width {
  max-width: 1366px;
}

/*--------nav-section-----------*/
.navigation {
  padding: 0;
  padding: 30px;
  padding-top: 50px;
}
.navigation .logo img {
  width: 100%;
  height: 68px;
  -o-object-fit: contain;
     object-fit: contain;
}
.navigation .water-mark {
  display: none;
}
.navigation ul li a {
  color: #fff;
  font-size: 0.85rem;
  font-weight: 400;
}
.navigation ul .active {
  color: #b19777;
}

/*==========navigation-media==========*/
@media only screen and (max-width: 768px) {
  html, body {
    font-size: 16px;
  }
  .navigation {
    width: 100%;
    height: 100%;
    background-color: #212121;
    opacity: 0.9;
    position: relative;
  }
  .navigation .logo {
    display: none;
  }
  .navigation ul {
    padding: 50px;
    text-align: center;
  }
  .navigation ul li a {
    font-size: 1.5rem;
  }
  .navigation .water-mark {
    display: block;
    color: #D1CCBE;
    font-size: 10rem;
    font-weight: 600;
    z-index: -5;
    position: absolute;
    left: 20%;
    transform: translateX(-20%);
    text-align: center;
    opacity: 0.8;
  }
}
/*--------header-section-----------*/
.banner-slide {
  height: 950px;
  background-color: #181818;
  position: relative;
  z-index: -1;
}
.banner-slide img {
  width: 100%;
  height: 750px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  width: 100%;
  height: 750px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background-color: rgba(33, 33, 33, 0.3882352941);
}
.header .overlay {
  position: absolute;
  left: 0;
  bottom: 30px;
  padding: 30px;
  z-index: 0;
}
.header .overlay .header-head {
  color: #fff;
}
.header .overlay .header-head span {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 400;
}
.header .overlay .header-head h1 {
  font-size: 3rem;
  font-weight: 700;
}

/*--------about-section-----------*/
.about-us {
  padding: 50px 0;
  background-color: #181818;
}
.about-us .about-some h2 {
  text-transform: uppercase;
  color: #fff;
}
.about-us .about-some h2 span {
  font-weight: 400;
}

/*--------desing-section-----------*/
/*--------work-section-----------*/
/*--------partner-section-----------*/
/*--------blog-section-----------*/
/*--------evnets-section-----------*/
/*--------project-section-----------*/
/*--------benefits-section-----------*/
/*--------brand-section-----------*/
/*--------contact-section-----------*/
/*--------footer-section-----------*//*# sourceMappingURL=style.css.map */