/*
    --e-global-color-primary: #D16527;
    --e-global-color-secondary: #121212;
    --e-global-color-text: #161616;
    --e-global-color-accent: #242424;
    --e-global-color-11fee7f: #606060;
    --e-global-color-7ff2b2d: #C6C6C6;
    --e-global-color-0d3036c: #EDEDED;
    --e-global-color-024918e: #ECCD39
*/
/*=========Color-Variable========*/
/*=========Font-Variable========*/
.our-project .project-content .send-btn {
  padding: 15px 60px;
  text-decoration: none;
  display: inline-block;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.footer-section .social-icon li {
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

html, body {
  font-size: 24px;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #212121;
}

.main-head {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.para {
  font-size: 0.85rem;
  font-weight: 400;
  color: #929292;
  line-height: 1.5;
}

.secondary-head {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.flex-content {
  display: flex;
  flex-wrap: wrap;
}

.max-width {
  max-width: 1366px;
}

.light {
  font-weight: 400;
}

.title {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
}

.title-dark {
  border-bottom: 2px solid #181818;
  color: #181818;
}

.tag {
  text-transform: uppercase;
  color: #fff;
  font-size: 0.75rem;
}

.center {
  justify-content: center;
  align-items: center;
}

/*--------nav-section-----------*/
.navigation {
  padding: 0;
  padding: 30px;
  padding-top: 50px;
}
.navigation .logo img {
  width: 100%;
  height: 68px;
  -o-object-fit: contain;
     object-fit: contain;
}
.navigation .water-mark {
  display: none;
}
.navigation ul li a {
  color: #fff;
  font-size: 0.85rem;
  font-weight: 400;
}
.navigation ul .active {
  color: #b19777;
}

/*==========navigation-media==========*/
@media only screen and (max-width: 768px) {
  html, body {
    font-size: 16px;
  }
  .navigation {
    width: 100%;
    height: 100%;
    background-color: #212121;
    opacity: 0.9;
    position: relative;
  }
  .navigation .logo {
    display: none;
  }
  .navigation ul {
    padding: 50px;
    text-align: center;
  }
  .navigation ul li a {
    font-size: 1.5rem;
  }
  .navigation .water-mark {
    display: block;
    color: #D1CCBE;
    font-size: 10rem;
    font-weight: 600;
    z-index: -5;
    position: absolute;
    left: 20%;
    transform: translateX(-20%);
    text-align: center;
    opacity: 0.8;
  }
}
/*--------header-section-----------*/
.banner-slide {
  height: 950px;
  background-color: #181818;
  position: relative;
}
.banner-slide img {
  width: 100%;
  height: 750px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  width: 100%;
  height: 750px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.header .overlay {
  position: relative;
  padding: 30px;
  z-index: 0;
}
.header .overlay .header-head {
  color: #fff;
}
.header .overlay .header-head .tag-head {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 400;
}
.header .overlay .header-head h1 {
  font-size: 3rem;
  font-weight: 700;
}

/*--------about-section-----------*/
.about-us {
  padding-top: 100px;
  background-color: #212121;
}
.about-us .about-some h2 {
  text-transform: uppercase;
  color: #fff;
  padding: 50px 0 30px 0;
}
.about-us .about-some h2 span {
  font-weight: 400;
}
.about-us .about-some .creativity {
  background-color: #181818;
  padding: 30px;
  margin: 20px 0;
}
.about-us .about-some .creativity span {
  text-transform: uppercase;
  color: #fff;
}
.about-us .about-some .list-item {
  padding: 30px;
}
.about-us .about-some .list-item li {
  color: #929292;
  padding-bottom: 15px;
  font-size: 0.85rem;
}
.about-us .about-some .list-item li i {
  color: #86735D;
}
.about-us .about-image {
  position: relative;
  z-index: 0;
}
.about-us .about-image .bg-dots {
  background-image: url("../image/png/dots.png");
  width: 50%;
  height: 100%;
  position: absolute;
  right: 10px;
  top: -15px;
  z-index: -1;
}
.about-us .about-image .dots-2 {
  left: 5px;
}
.about-us .about-image .image-up {
  padding: 20px;
  z-index: 0;
}
.about-us .about-image .image-up img {
  width: 100%;
}
.about-us .about-image .image-down {
  transform: translateY(-30%);
  padding: 20px;
  z-index: 0;
}
.about-us .about-image .image-down img {
  width: 100%;
}

/*--------desing-section-----------*/
.our-demo {
  position: relative;
}
.our-demo .slide-bg img {
  width: 100%;
  z-index: -1;
}
.our-demo .bg-panel {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.our-demo .bg-panel .demo-one {
  height: 100%;
  margin: 0 -15px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  z-index: 10;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.186);
  transition: all 0.4s ease;
  cursor: cell;
}
.our-demo .bg-panel .demo-one img {
  width: 250px;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}
.our-demo .bg-panel .demo-one h3 {
  color: #FEFEFE;
  text-transform: uppercase;
  padding: 20px 0;
}
.our-demo .bg-panel .demo-one p {
  transform: rotateX(90deg);
  transition: all 0.5s ease;
  -webkit-line-clamp: 0;
}
.our-demo .bg-panel .demo-two {
  border-left: 1px solid #b19777;
  border-right: 1px solid #b19777;
}
.our-demo .bg-panel .demo-one:hover {
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}
.our-demo .bg-panel .demo-one:hover p {
  transform: rotateX(0);
}

/*--------work-section-----------*/
.our-work {
  background-color: #181818;
  padding-bottom: 50px;
}
.our-work .work-head {
  color: #fff;
  padding: 15px 0;
}
.our-work .work-head h2 {
  padding: 30px 0 15px 0;
}
.our-work .work-slide {
  position: relative;
}
.our-work .work-slide .work-image img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
/*--------partner-section-----------*/
.trigger-btn {
  position: relative;
}
.trigger-btn img {
  width: 100%;
  height: 950px;
  -o-object-fit: cover;
     object-fit: cover;
}
.trigger-btn .large-btn {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%);
  display: grid;
  place-content: center;
  border-radius: 50%;
  z-index: 0;
  cursor: pointer;
}
.trigger-btn .large-btn .icon {
  z-index: 5;
  border: 2px solid #D1CCBE;
  width: 300px;
  height: 300px;
  display: grid;
  border-radius: 50%;
  place-content: center;
}
.trigger-btn .large-btn .icon .play {
  font-size: 1.5rem;
  color: #fff;
}
.trigger-btn .large-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.041);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: absolute;
  left: 0;
  border-radius: 50%;
  top: 0;
  z-index: -1;
}

.awesome-partner {
  padding: 50px 0;
  background-color: #f9f9f9;
  /*
      .milestone::before{
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          background-color: $bgwhite;
          width: 100%;
          height: 100%;
          z-index: -1;
      }
  */
}
.awesome-partner .reward {
  padding: 30px;
}
.awesome-partner .reward h2 {
  color: #000000;
  padding: 30px 0 20px 0;
}
.awesome-partner .reward .year {
  font-size: 10rem;
  color: #000000;
}
.awesome-partner .reward .exprience {
  color: #000000;
  text-transform: uppercase;
}
.awesome-partner .milestone {
  position: relative;
  z-index: 0;
  padding: 30px 50px;
}
.awesome-partner .milestone h2 {
  padding: 30px 0 20px 0;
}
.awesome-partner .milestone .target {
  padding: 20px 0;
}
.awesome-partner .milestone .target span {
  font-size: 2.5rem;
  font-weight: 600;
}
.awesome-partner .milestone .team {
  padding: 20px 0;
}
.awesome-partner .milestone .team h4 {
  text-transform: capitalize;
  color: #000000;
  font-weight: 600;
}

/*--------blog-section-----------*/
.our-blog {
  background-color: #fff;
  padding: 50px 0;
}
.our-blog h2 {
  color: #212121;
  text-transform: uppercase;
  font-weight: 700;
}
.our-blog .blog {
  padding-top: 30px;
}
.our-blog .blog img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-blog .blog .date {
  text-transform: uppercase;
  color: #86735D;
  font-size: 0.85rem;
  margin-top: 20px;
}
.our-blog .blog .brand-name {
  display: block;
  text-transform: uppercase;
  color: #86735D;
  font-size: 0.85rem;
  padding-top: 10px;
}
.our-blog .blog h3 {
  color: #212121;
  padding-bottom: 15px;
}
.our-blog .blog p {
  color: #9A9A9A;
}
.our-blog .blog a {
  font-size: 0.85rem;
  color: #212121;
  text-transform: uppercase;
  font-weight: 400;
}
.our-blog .blog a .bg-btn {
  background-color: #E9EDED;
  padding: 12px;
}

/*--------evnets-section-----------*/
.our-events {
  padding: 50px 0;
}
.our-events .event-title {
  padding: 30px 0;
}
.our-events .event-title h2 {
  color: #fff;
  text-transform: uppercase;
  padding-top: 15px;
}
.our-events .event-date {
  color: #fff;
  padding: 10px 0;
}
.our-events .event-content {
  padding: 10px 0;
}
.our-events .image {
  width: 100%;
  height: 800px;
}
.our-events .image .part-one {
  height: 650px;
  width: 100%;
  position: relative;
  vertical-align: center;
  top: 25%;
}
.our-events .image .part-one img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
.our-events .image .part-two {
  height: 950px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.our-events .image .part-two img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.our-events .image .part-three {
  height: 650px;
  width: 100%;
  position: relative;
  top: 16%;
}
.our-events .image .part-three img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

/*--------project-section-----------*/
.our-project {
  padding: 100px 0;
}
.our-project .bg-back {
  width: 550px;
  height: 400px;
  margin-top: 100px;
  background-color: #181818;
  position: relative;
}
.our-project .image {
  position: absolute;
  left: 12%;
  top: 35%;
  transform: translateY(-30%);
}
.our-project .image img {
  width: 400px;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-project .project-content {
  padding: 100px 0;
}
.our-project .project-content h3 {
  text-transform: uppercase;
  color: #fff;
}
.our-project .project-content p {
  padding: 20px 0;
}
.our-project .project-content .send-btn {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0;
  padding: 20px 60px;
}

/*--------benefits-section-----------*/
/*--------brand-section-----------*/
.our-brand {
  padding: 100px 0;
  background-color: #181818;
}
.our-brand .brand {
  padding: 50px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}
.our-brand .brand img {
  width: 100%;
}
.our-brand .no-border {
  border-bottom: 0;
}
.our-brand .border-no {
  border-left: 0;
}

/*--------contact-section-----------*/
.contact-now {
  padding: 50px 0;
}
.contact-now .located {
  height: 550px;
  width: 100%;
}
.contact-now .located iframe {
  width: 100%;
  height: 100%;
}
.contact-now .form-head {
  padding: 30px 0 0 0;
}
.contact-now .form-head h3 {
  padding-top: 20px;
  color: #fff;
}
.contact-now form {
  text-align: center;
  padding: 30px 0;
}
.contact-now form input, .contact-now form textarea {
  background-color: transparent;
  outline: none;
  font-size: 16px;
  border: 1px solid #D1CCBE;
  padding: 25px 15px;
  border-radius: 0;
  caret-color: #D1CCBE;
  margin: 0 10px;
}
.contact-now form textarea {
  height: 250px;
  margin-top: 20px;
  width: 100%;
  caret-color: #D1CCBE;
}
.contact-now form input::-moz-placeholder, .contact-now form textarea::-moz-placeholder {
  color: #D1CCBE;
}
.contact-now form input:-ms-input-placeholder, .contact-now form textarea:-ms-input-placeholder {
  color: #D1CCBE;
}
.contact-now form input::placeholder, .contact-now form textarea::placeholder {
  color: #D1CCBE;
}
.contact-now form input:focus {
  box-shadow: none;
  outline: none;
  background-color: transparent;
  color: #D1CCBE;
}
.contact-now form button {
  padding: 25px 10px;
  background-color: transparent;
  border: 2px solid #181818;
  margin-top: 20px;
  cursor: pointer;
}
.contact-now form button span {
  padding: 15px 100px;
  background-color: #181818;
  color: #D1CCBE;
  text-transform: uppercase;
}

/*--------footer-section-----------*/
.footer-section {
  padding: 100px 0;
  position: relative;
}
.footer-section .bg-color {
  background-color: #181818;
  width: 85%;
  position: absolute;
  top: 0;
  right: 0;
}
.footer-section .footer {
  padding: 100px 50px;
}
.footer-section .footer .logo img {
  width: 100%;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer-section .footer h3 {
  color: #fff;
  text-transform: uppercase;
  background-color: #212121;
  padding: 10px 15px;
  display: inline-block;
  margin-bottom: 20px;
}
.footer-section .menu-item ul li {
  padding-bottom: 10px;
}
.footer-section .menu-item ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.footer-section .social-icon li {
  width: 100px;
  height: 100px;
  border: 1px solid #D1CCBE;
  border-radius: 50%;
  display: flex;
  margin-right: -10px;
}
.footer-section .social-icon li a {
  font-size: 1.2rem;
  color: #D1CCBE;
}/*# sourceMappingURL=style.css.map */